@import "tailwindcss";

:root {
  --primary-color: #131313;
  --secondary-color: #E8000D;
  --tertiary-color: #1C1B1B;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.border {
  border-color: var(--secondary-color);
}

.container {
  @apply mx-auto md:max-w-7xl max-w-6xl;
}

.gradient-border-b {
  border-bottom: 5px solid transparent;
  border-image-source: linear-gradient(to bottom, red, pink);
  border-image-slice: 1;
}