@import "tailwindcss";

:root {
  --primary-color: #131313;
  --secondary-color: #e8000d;
  --tertiary-color: #1c1b1b;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.border {
  border-color: var(--secondary-color);
}

.border-tertiary {
  border-color: var(--tertiary-color)
}
.container {
  @apply mx-auto md:max-w-7xl max-w-6xl;
}

.gradient-border-b {
  border-bottom: 5px solid transparent;
  border-image-source: linear-gradient(to bottom, red, pink);
  border-image-slice: 1;
}

.text-stroke {
  -webkit-text-stroke: 2px grey;
  color: transparent;
}

.bg-image {
  background-image: url("./assets/backgroung.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70vh;
  transform: scale(1);
  opacity: 0.8;
}

.bg-image2 {
  background-image: url("./assets/class4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 70vh;
  transform: scale(1);
  opacity: 0.8;
  filter: grayscale(50%);
}
